*.py[cod]
.hgignore~
.gitignore~
.travis.yml~
.hg/
.hgtags
.tox
.coverage
/htmlcov/
*.py,cover
/.cache/
/.idea/

example/db/
example/tmp/
build/
builddocs/
builddocs.zip
dist/
src/transliterate.egg-info
